h1,h2,h3,h4,h5,h6,p{
font-family: "Pathway Extreme", sans-serif !important;
}
h2 {
font-size:20px;
}
.container-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-left: 2px solid #007bff;
}

.timeline-item {
    position: relative;
    padding: 10px 20px;
    margin: 20px 0;

}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 10px;
    width: 16px;
    height: 16px;
    background-color: #007bff;
    border-radius: 50%;
}

.card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    flex: 1 0 150px;
    border: 1px solid #295683;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #295683;
}

.text-center {
    text-align: center;
}

.rounded-circle {
    border-radius: 50%;
}

#last-updated-date {
    font-weight: bold;
}
.about-me{
background-color:#295683;
}
.about-me p{
padding:50px 0;
}

/* Footer style */
.bg-dark {
background:#295683 !important;

}
 .button-24
 {
 background: #FF4742;
 border: 1px solid #FF4742;
 border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif; font-size: 16px;
 font-weight: 800; line-height: 16px; min-height: 40px;
 outline: 0; padding: 12px 14px;
 text-align: center;
 text-rendering: geometricprecision;
 text-transform: none;
 user-select: none;
 -webkit-user-select: none; touch-action: manipulation; vertical-align: middle;
 }
 .button-24:hover, .button-24:active
 {
 background-color: initial; background-position: 0 0; color: #FF4742;
 }
 .button-24:active { opacity: .5; }