{% extends 'base.html' %}
{% load examfilters %}
{% block content %}
<div class="container mt-5">
    <h2>{{ test_series.title }}</h2>
    <p>{{ test_series.description }}</p>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="list-group">
                {% for test in tests %}
                    <li class="list-group-item mb-3 border">
                        <div class="row">
                            <!-- First Row: Badge for Free Test -->
                            <div class="col-12">
                                {% if test.test_type.is_free_test %}
                                    <span class="badge bg-info">Free</span>
                                {% elif not test.test_type.is_free_test %}
                                    <span class="badge bg-danger">Subscribe</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <!-- Second Row: Test Title and Button -->
                            <div class="col-6">
                                <span>{{ test.title }}</span>
                            </div>
                            <div class="col-6 text-right">
                                {% with test_attempts|get_item:test.id as test_attempt %}
                                    {% if test_attempt %}
                                        {% if not test_attempt.is_completed %}
                                            <a href="{% url 'resume_test' test_attempt.id %}" class="btn btn-success">Resume Test</a>
                                        {% else %}
                                            <span class="badge badge-success">Completed</span>
                                        {% endif %}
                                    {% else %}
                                        {% if test.questions.first %}
                                            <a href="{% url 'start_test' test.id %}" class="btn btn-primary">Start Test</a>
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <!-- Third Row: Test Duration, Total Time, and Number of People -->
                            <div class="col-4">
                                <strong>Duration:</strong> {{ test.duration }}
                            </div>
                            <div class="col-4">
                                <strong>Total Marks:</strong> {{ test.total_marks }}
                            </div>
                            <div class="col-4">
                                <strong>No. of Participants:</strong> {{ test.test_attempts.count }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}