* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky-top{
    top:70px;
}
#navbar {

      transition: top 0.3s;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
}

        .hidden-navbar {
            top: -70px; /* Adjust this value based on the navbar height */
        }

        .scrolled-navbar {
            background-color: #3891E6 !important; /* Change this color as needed */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        /* Add some padding to ensure content is not hidden behind the fixed navbar */
        body {
            padding-top: 30px; /* Adjust this value as needed */
        }

.pathway-extreme {
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.sticky-filter {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.btn-block {
    display: block;
    width: 100%;
}

[data-sr] {
    opacity: 1;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(20px);
}

[data-sr].reveal {
    opacity: 1;
    transform: none;
}

.logo{
    width:60px;
    height:60px;
    background:#295683;
    border-radius:4px;
}
.blog-category{
font-size:14px;
}
.card-title a{
 color:#295683 !important;
}
.btn{
 background-color:#295683 !important;
}

body {
    background-color: #f7f6f6
}

.card {

    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
}


.dots{

    height: 4px;
  width: 4px;
  margin-bottom: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.badge{

        padding: 7px;
        padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.user-img{

    margin-top: 4px;
}

.check-icon{

    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.form-check-input{
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}


.form-check-input:focus{
    box-shadow: none;
}


.icons i{

    margin-left: 8px;
}
.reply{

    margin-left: 12px;
}

.reply small{

    color: #b7b4b4;

}


.reply small:hover{

    color: green;
    cursor: pointer;

}

.box {
  width: 400px;
  border-bottom: 20px solid #295683;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box h2 {
  color: #fff;
  background: #295683;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box ul {
  position: relative;
  background: #fff;
  padding:0;
}
.box ul:hover li {
  opacity: 0.2;
}
.box ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.box ul li:hover {
  transform: scale(1.1);
  z-index: 5;
  background: #295683;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}
.box ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #295683;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}
.box ul li:hover span {
  background: #fff;
  color: #295683;
}
.box ul li a {
 text-decoration:none;
}
.box ul li:hover a {
 color:#fff;
}
#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    z-index: 1000;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
}
