{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/plugin.js' %}"></script>
<div class="container mt-4">
        <h1>{% if form.instance.pk %}Update Article{% else %}Create Article{% endif %}</h1>

        {% if not user.is_authenticated %}
            <div class="alert alert-danger">You must be logged in to create or update articles. {{user.has_perm}}</div>
        {% elif permission_denied %}
            <div class="alert alert-danger">You do not have permission to create or update articles.</div>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        {% endif %}
    </div>
 <script>
        CKEDITOR.replace('id_content', {
            extraPlugins: 'codesnippet',
            codeSnippet_theme: 'monokai_sublime'
        });
 </script>
{% endblock %}