{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container container-about-us d-flex flex-column align-items-center">
    <div class="text-center mt-5">
        <img src="{% static 'images/about-us/anshu.jpeg' %}" alt="Anshu Mishra" class="img-thumbnail rounded-circle mb-3" style="width: 250px; height: 250px;">
        <h2>Hi, I am Anshu Mishra</h2>
        <p>Last updated on: <span id="last-updated-date">{{ last_updated_date }}</span></p>
    </div>

    <div class="about-me text-center mt-4 p-3 d-flex justify-content-center shadow-sm">
        <p class="text-white w-50">I am a Django developer with over 5+ years of experience. I specialize in Django REST Framework and have extensive experience developing applications using DRF, AWS, Jenkins, and Docker.</p>
    </div>

    <div class="professional-journey text-center mt-5">
        <h3 class="mb-3">My Professional Journey</h3>
        <div class="timeline">
            <div class="timeline-item">
                <h2>Zenatix Pvt Ltd(Sr Backend Engineer)</h2>
                <p>Jan 2023 - Present</p>
                <p>Developed Oauth2.0 based user management system</p>
            </div>
            <hr class="danger">
            <div class="timeline-item">
                <h2>Global Logic (Sr Python Developer)</h2>
                <p>Oct 2020 - Dec 2023</p>
                <p>Integration of Order With Google</p>
            </div>
            <hr class="danger">
            <div class="timeline-item">
                <h2>XtremeSoftech Pvt Ltd</h2>
                <p>May 2019 - Aug 2020</p>
                <p>School Management System</p>
            </div>

        </div>
    </div>

    <div class="skills text-center mt-5">
        <h3 class="mb-3 skills">My Skills</h3>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Django</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Django REST Framework (DRF)</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">AWS</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Docker</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Jenkins</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="education text-center mt-5">
        <h3>Education</h3>
        <p>B.Tech in 2015 from PSIT Kanpur</p>
    </div>
</div>

<script>
    document.getElementById('last-updated-date').textContent = new Date().toLocaleDateString();
</script>
{% endblock %}
